<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://unpkg.com/todomvc-app-css@2.0.6/index.css">
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
</head>
<body>
	
	<section class="todoapp">
		<header class="header">
			<h1>todos</h1>
			<input type="text" class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
		</header>
		<section class="main" v-show="todos.length" v-cloak>
			<input type="checkbox" class="toggle-all" v-model="allDone">
			<ul class="todo-list">
				<li v-for="todo in filteredTodos" class="todo" :key="todo.id" :class="{ completed: todo.completed, editing: todo == editedTodo }">
					<div class="view">
						<input type="checkbox" class="toggle" v-model="todo.completed">
						<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
						<button class="destroy" @click="removeTodo(todo)"></button>
					</div>
					<input class="edit" type="text"
						v-model="todo.title"
						v-todo-focus="todo == editedTodo"
						@blur="doneEdit(todo)"
						@keyup.enter="doneEdit(todo)"
						@keyup.esc="cancelEdit(todo)"
					>
				</li>
			</ul>
		</section>
		<footer class="footer" v-show="todos.length" v-cloak>
			<span class="todo-count">
				<strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
			</span>
			<ul class="filters">
				<li><a href="#/allDone" :class="{ selected:visibility == 'all' }">All</a></li>
				<li><a href="#/active" :class="{ selected:visibility == 'active' }">Active</a></li>
				<li><a href="#/completed" :class="{ selected:visibility == 'completed' }">Completed</a></li>
			</ul>
			<button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
				Clear completed
			</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<p>
			Written by <a href="">Evan You</a>
		</p>
		<p>
			Part of <a href="">TodoMVC</a>
		</p>
	</footer>
	<script src="../script/vue.js"></script>
	<script>
	// 存储到Local Storage的键值
	var STORAGE_KEY = "todos-vuejs-2.0"
	// 
	var todoStorage = {
		fetch: function () {
			var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]")
			todos.forEach(function (todo, index) {
				todo.id = index
			})
			todoStorage.uid = todos.length
			return todos
		},

		save: function (todos) {
			localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
		}
	}

	// 可视性过滤器
	var filters = {
		all: function (todos) {
			return todos
		},
		active: function (todos) {
			return todos.filter(function (todo) {
				return !todo.completed
			})
		},
		completed: function  (todos) {
			return todos.filter(function (todo) {
				return todo.completed
			})
		}
	}

	var app = new Vue({
		// app初始状态
		data: {
			todos: todoStorage.fetch(),
			newTodo: "",
			editedTodo: null,
			visibility : "all"
		},

		// 为本地存储，监听待办事项的改变
		watch: {
			todos: {
				handler: function (todos) {
					todoStorage.save(todos)
				},
				deep: true
			}
		},

		// 计算属性
		computed: {
			filteredTodos: function () {
				return filters[this.visibility](this.todos)
			},
			remaining: function () {
				return filters.active(this.todos).length
			},
			allDone: {
				get: function () {
					return this.remaining === 0
				},
				set: function (value) {
					this.todos.forEach(function (todo) {
						todo.completed = value
					})
				}
			}
		},

		filters: {
			pluralize: function (n) {
				return n === 1 ? "item" : "items"
			}
		},

		// 实现数据逻辑的方法
		methods: {
			addTodo: function () {
				var value = this.newTodo && this.newTodo.trim()
				if (!value) {
					return
				}
				this.todos.push({
					id: todoStorage.uid++,
					title: value,
					completed: false
				})
				this.newTodo = ""
			},

			removeTodo: function (todo) {
				this.todos.splice(this.todos.indexOf(todo), 1)
			},

			editTodo: function (todo) {
				this.beforeEditCache = todo.title
				this.editedTodo = todo
			},

			doneEdit: function (todo) {
				if (!this.editedTodo) {
					return
				}
				this.editedTodo = null
				todo.title = todo.title.trim()
				if (!todo.title) {
					this.removeTodo(todo)
				}
			},

			cancelEdit: function  (todo) {
				this.editedTodo = null
				todo.title = this.beforeEditCache
			},

			removeCompleted: function  () {
				this.todos = filters.active(this.todos)
			}
		},
		// a custom directive to wait for the DOM to be updated
		// before focusing on the input field.
		// http://vuejs.org/guide/custom-directive.html
		directives: {
			"todo-focus": function (el, binding) {
				if (binding.value) {
					el.focus()
				}
			}
		}
	})

	function onHashChange () {
		var visibility = window.location.hash.replace(/#\/?/, "")
		if (filters[visibility]) {
			app.visibility = visibility
		}else{
			window.location.hash = ""
			app.visibility = "all"
		}
	}

	// handle routing
	window.addEventListener("hashchange", onHashChange)
	onHashChange()

	// mount
	app.$mount(".todoapp")
	</script>
	<!-- notes: 
	1. v-if vs v-show:
	* v-if: 切换时，条件块内的事件监听器和子组件会被适当地销毁和重建
	  v-show: 切换时，仅仅改变的CSS的display属性，元素从一开始就被渲染并一直保存在DOM中
	* 需要考虑切换开销和初始化渲染开销。
	* 切换开销相对较大的用v-show，反之用v-if。
	-->
</body>
</html>
