<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>树形视图</title>
	<style>
		body{
			background-color: #e8e8e8;
			text-align: left;
		}
		ul{
			padding-left: 1em;
			line-height: 1.5em;
			list-style: none;
			border-width: 0 0 0 1px;
			border-style: dotted;
			border-color: #333;
		}
		.item{
			cursor:pointer;
		}
		.bold{
			font-weight:bold;
		}
	</style>
</head>
<body>
	
	<h3>双击某一项，可以将其转换为文件夹</h3>

	<!-- 定义根节点 -->
	<ul id="app">
		<!-- 使用组件 -->
		<item class="item" v-bind:model="treeData"></item> <!-- 双向数据绑定 -->
	</ul>

	<script src="../script/vue.js"></script>
	<!-- 定义组件模板 -->
	<script type="text/x-template" id="item-template">
		<li>
			<div
				v-bind:class="{bold: isFolder}"
				@click="toggle"
				@dblclick="changeType"
			>
				{{model.name}}
				<span v-if="isFolder">[{{open ? "-" : "+"}}]</span>
				
			</div>
			<ul v-show="open" v-if="isFolder">
				<item 
					class="item"
					v-for="model in model.children" 
					v-bind:model="model">
				</item>
				<li class="add" v-on:click="addChild">+</li>
			</ul>
		</li>
	</script>
	<script>

		var data = {
			name: "My Tree",
			children: [
				{ name: "HTML" },
				{ name: "CSS" },
				{
					name: "JS",
					children: [
						{
							name: "ES",
							children: [
								{ name: "ES5" },
								{ name: "ES6" }
							]
						},
						{ name: "BOM" },
						{ name: "DOM" },
					]
				},
				{
					name: "HTTP",
					children: [
						{ name: "HTTP1.0" },
						{ name: "HTTP1.1" },
						{ name: 'HTTP2.0' }
					]
				}
			]
		}

		// 创建一个全局的组件
		Vue.component("item", {
			template: "#item-template", // 使用模板
			// 属性
			props: {
				// 属性的数据类型
				model: Object 
			},
			// data必须是一个函数
			data: function () {
				return {
					// 默认情况下，文件夹是关闭的
					open: false
				}
			},
			// 计算属性
			computed: {
				// 该属性用于判断是否是文件夹
				isFolder: function () {
					return this.model.children && this.model.children.length
				}
			},
			// 方法
			methods: {
				// 切换文件夹的显示或隐藏
				toggle: function () {
					if (this.isFolder) {
						this.open = !this.open
					}
				},
				// 将文件转换为文件夹
				changeType: function () {
					if (!this.isFolder) {
						Vue.set(this.model, "children", [])
						this.addChild()
						this.open = true
					}
				},
				// 添加默认的子项
				addChild: function () {
					this.model.children.push({
						name: "new stuff"
					})
				}
			}
		})

		// 创建一个Vue实例
		var app = new Vue({
			el: "#app", // 挂载节点
			data: {
				treeData: data
			}
		})
	</script>


	<!-- notes: 
	* 基本的树形结构使用ul>li的无序列表嵌套结构
	* 外观通过属性绑定（v-bind:）来进行动态改变
	* 事件通过"v-on:"来实现
	* 插值用"{{ }}"
	-->
</body>
</html>
